# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
build

# Environment variables
.env
config/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.swp
*.swo
README.md
LICENSE